body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}
.line{
    padding:2.5px;
}
#title{
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.input_box{
    outline: none;
    border: 0.5px grey solid;
    background-color: #222222;
    padding: 5px;
    width: 40px;
    height: 40px;
    color:white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.input_box :focus{
    outline: none;
}
.bounce {
    outline: 0;
    animation-name: bounce;
    animation-duration: .5s;
}
/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
  